{% extends 'network/layout.html' %}
{% load static %}


{% block head %}
    <title>All Posts</title>
    <link rel="stylesheet" href="{% static 'network/all_posts_style.css' %}">
    <script src="{% static 'network/all_post.js' %}"></script>
{% endblock %}

{% block body %}

    {% for all_posts in posts %}
        <li>
            <div class="div_posts">
                <a href="{% url 'profile' all_posts.post_uesr %}">{{all_posts.post_uesr}}</a><hr>
                <h4>{{all_posts.post_title}}</h4>
                <p>{{all_posts.post_description}}</p>
                <p>{{all_posts.post_date}}</p>
                <p id="like_count_{{all_posts.id}}">{{all_posts.post_likes.count}}</p>

                {% if user not in all_posts.post_likes.all%}
                    <button value="{{all_posts.id}}" id="like_button_{{all_posts.id}}">Like</button>
                {% else %}    
                    <button value="{{all_posts.id}}" id="like_button_{{all_posts.id}}">Unlike</button>
                {% endif %}                

            </div>
        </li>

        {% endfor %}
        <br>
        <!-- has previous:{{posts.has_previous}} <br>
            has next page:{{posts.has_next}} <br>
            has number of pages:{{posts.paginator.num_pages}} <br> -->
            
        <div class="div_paginator">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo First</a>
                <a href="?page={{posts.previous_page_number}}">Previous</a>
            {% endif %}
    
            {{posts}}
    
            {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}">Next</a>
                <a href="?page={{posts.paginator.num_pages}}">Last &raquo</a>
            {% endif %}
        </div>

{% endblock %}