{% extends 'network/layout.html' %}
{% load static %}

{% block head %}
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="{% static 'network/all_posts_style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'network/profile.css' %}">
    <script src="{% static 'network/index.js' %}"></script>

{% endblock %}

{% block body %}


<div class="div_user_profile">
    <li class="li_user_profile">
        <div>Followers</div>
        <div>{{follower_len}}</div>
    </li>

    <li class="li_user_profile">
        <div class="username"><h2>{{user}}</h2></div>
        <form action="{% url 'follower' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{user}}">
            <input type="hidden" name="follower" value="{{follower}}">
            <input type="hidden" name="value" value="{{button_and_value}}" readonly>
            <button type="submit">{{button_and_value}}</button>
        </form>
    </li>

    <li class="li_user_profile">
        <div>Following</div>
        <div>{{following_len}}</div>
    </li>
</div>



<div class="div_posts">
    {% for all_posts in posts %}
        <li class="li_posts">
            <div class="div_single_post">
                <h2>{{all_posts.post_uesr}}</h2>
                <h4>{{all_posts.post_title}}</h4>
                <p id="post_description_{{all_posts.id}}">{{all_posts.post_description}}</p>
                <p>{{all_posts.post_date}}</p>
                <p><button>Like</button>{{all_posts.post_likes}}</p>
                
            </div>
        </li>
    {% endfor %}
</div>

{% endblock %}
