input{
    display: block;
    margin-top: 10px;
}

#new_post_button{
    display: block;
    margin: auto;
    text-align: center;
    
}

.div_posts{
    padding: 20px;
    margin:10px 0 0 0 ;
}

.li_posts{
    display: inline-block;
    border: solid 1px black;
    padding: 10px;
}