

.div_user_profile{
    display: block;
    width:fit-content ; 
    text-align: center;
    margin: auto;
    border: solid 1px black;
    padding: 25px;
}

.li_user_profile{
    display: inline-block;
    margin: 0;
    padding: 40px;
    
}

.li_user_profile .username{
    margin: -20px 0 0 0;
}

.li_user_profile .follow_button{
    margin: 40px 0 -30px 0;
}

/* ----------------------------------------- */

.div_posts{
    padding: 20px;
    margin:10px 0 0 0 ;
}

.li_posts{
    display: inline-block;
    border: solid 1px black;
    padding: 10px;
}